//@import "../abstracts/variables";
.home-nav {
  // position: fixed;
  background-color: transparent;
  a {
    color: $fifth-color;
    &:hover {
      color: $fifth-color;
    }
  }

  .menu__icon {
    color: $fifth-color;
  }
}

header {
  // background-color: rgba($third-color, 0.5);
  // border-bottom: 1px solid #e5e5e5;
  z-index: 100;
  transition: $main-transition;
  color: $third-color;

  // Responsive header height
  @include rwd-df-down(sm) {
    height: 5rem !important;
    padding-top: 0.5rem !important;
  }

  a {
    color: $third-color;
    // transition: $main-transition;
    &:hover {
      color: inherit;
    }
  }

  .menu {
    &__logo {
      a {
        #logo {
          transition: $main-transition;
          max-width: 4rem;
          @include rwd-df-down(sm) {
            max-width: 3rem;
          }
        }
        // color: $fifth-color;
        font-size: 2rem;
        font-weight: 700;

        @include rwd-df-down(sm) {
          font-size: 1.5rem;
        }

        span {
          color: $first-color;
          padding-#{$start}: 1.5rem;
          @include rwd-df-down(sm) {
            padding-#{$start}: 0.5rem;
          }
        }
      }
    }

    // Hide desktop navigation on mobile
    .col-lg-6 {
      @include rwd-df-down(md) {
        display: none !important;
      }
    }

    &__links {
      display: flex;
      justify-content: center;
      @include rwd-df-down(md) {
        display: none;
      }
    }
    &__link {
      // color: $fifth-color;
      transition: $main-transition;
      text-transform: capitalize;

      &:hover {
        color: $first-color;
      }

      @include rwd-df-down(md) {
        color: $third-color;
      }
    }

    &__icon {
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 0.5rem;
      transition: $main-transition;
      // color: $fifth-color;

      // Responsive icon sizes
      @include rwd-df-down(sm) {
        padding: 0.3rem;
        font-size: 2rem !important;
        width: 2.5rem !important;
        height: 2.5rem !important;
      }

      &--avatar {
        //onlogin=================>>>>>>>>>>>>>>
        border: 0.2rem solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem $first-color,
          0 0 0.8rem $first-color, 0 0 2.8rem $first-color,
          inset 0 0 1.3rem $first-color;
        //color: $first-color;

        &--mobile {
          @include rwd-df-down(md) {
            display: none !important;
          }
        }
      }

      &--bars {
        display: none !important;
        @include rwd-df-down(md) {
          display: inline-block !important;
        }
      }

      &:hover {
        //filter: drop-shadow(4px 4px 1px rgba($fifth-color, 0.4));
        //box-shadow: $inner-shadow;
        transform: scale(1.2);
        @include rwd-df-down(sm) {
          transform: scale(1.1);
        }
      }
    }

    &__badge {
      position: absolute;
      top: 0;
      #{$end}: 10%;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: $first-color;
      color: $third-color;
      font-size: 1.1rem;
      font-weight: 600;
      text-align: center;
      line-height: 2rem;

      @include rwd-df-down(sm) {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0.9rem;
        line-height: 1.5rem;
        #{$end}: 5%;
      }
    }

    &__dropdown {
      .dropdown-item {
        font-size: 1.4rem;
      }
    }
  }

  .mobile-menu {
    position: absolute;
    top: 100%;
    background-color: $fifth-color;
    width: 100%;
    height: 0;
    z-index: 9999;
    transition: $main-transition;
    overflow: auto;
    padding: 0 1.5rem;

    @include rwd-df-down(sm) {
      padding: 0 1rem;
    }

    &--active {
      height: calc(100vh - 6rem);
      @include rwd-df-down(sm) {
        height: calc(100vh - 5rem);
      }
    }

    ul {
      li {
        margin: 1.5rem 0;
        @include rwd-df-down(sm) {
          margin: 1rem 0;
        }
      }

      .h4 {
        @include rwd-df-down(sm) {
          font-size: 1.3rem;
        }
      }

      .h5 {
        @include rwd-df-down(sm) {
          font-size: 1.1rem;
        }
      }
    }
  }
}

.sticky__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $fifth-color;
  color: $third-color;
  height: 60px;
  box-shadow: $main-shadow;

  a {
    color: $third-color;

    &:hover {
      color: $third-color;
    }
  }

  .menu__links__link:hover {
    color: $first-color;
  }
}
